 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 637px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 35px auto 0 499px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: -28px auto 0 854px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -28px auto 0 73px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 8px 480px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: -26px auto 0 885px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: -26px auto 0 114px;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 57px auto 0 63px;
}

.u-section-1 .u-text-5 {
  margin: -56px 173px 0 auto;
}

.u-section-1 .u-map-1 {
  height: 357px;
  width: 478px;
  margin: 28px auto 0 24px;
}

.u-section-1 .u-form-1 {
  height: 357px;
  margin: -357px 24px 42px 585px;
}

.u-section-1 .u-btn-4 {
  width: 100%;
  background-image: none;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 411px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 704px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 280px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 685px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 315px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 539px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 60px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 465px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 236px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 404px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 285px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 149px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 254px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 85px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 109px;
  }

  .u-section-1 .u-map-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}